{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "react-remove-properties",
          {
            "properties": [
              "data-cy"
            ]
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        "react-refresh/babel"
      ]
    }
  },
  "plugins": [
    "babel-plugin-styled-components",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}